body {
    background-color: lemonchiffon;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-weight: bold;
}

#label {
    font-family: 'Nunito', sans-serif;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

#network {
    margin-bottom: 100px;
}

main {
    padding-bottom: 0;
}