body {
    background-color: lemonchiffon;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-weight: bold;
}

#label {
    font-family: 'Nunito', sans-serif;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

#network {
    margin-bottom: 100px;
}

main {
    padding-bottom: 0;
}

#chord-container {
    width: 1000px;
    margin: 0 auto;
}

#button-container {
    width: 415;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#ramen {
    margin-right: 20px;
}

#normal {
    margin-left: 20px;
}

#warning {
    color: slategray;
}